/*
this file is named "site.css" and is in a directory named "css"
*/

.fancy-header {
    color: deepskyblue;
    text-decoration: underline orange;
}
.look-at-me {
    color: red;
    text-decoration: underline;
    font-family: "Apple LiGothic";
}
.bigger-font {
    font-size: 20px;
}
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUusVj5Qd4ibwWUlrYxT3T4n09voIHmd0Ox0uy8d_lgObsTp9V");
    background-size: cover;
    background-position: center;
}
h1 {
    color: orange;
    text-decoration: underline lightblue;
    text-align: center;
}
h3 {
    color: lightblue;
    text-decoration: underline orange;
    font-style: italic;
    font-weight: bold;
}
body {
    background-color: dimgrey;
    color: whitesmoke;
}
a {
    color: orange;
}
ul {
    list-style-type: lower-roman;
}
td, tr {
    padding: 10px;
    font-size: 16px;
}
a:link  {
    color: yellow;
}
a:visited {
    color: pink;
}
a:hover {
    color: sandybrown;
}
a:active {
    color: blue;
}