@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Serif+Pro&display=swap');

.container {
    padding-top: 2rem;
}

a.brand-logo {
    margin-left: 2rem;
}

#nav-links-bar {
    margin-right: 2rem;
}

.card {
    width: 95%;
}
.sidenav {
    text-align: center;
}
/*#mainCollapse {*/
/*    position: fixed;*/
/*    width: 30%;*/

/*}*/

@media only screen and (max-width: 992px) {
    a.brand-logo {
        margin-left: 0;
    }

    #nav-links-bar {
        margin-right: 0;
    }

    .card {
        width: 100%;
    }
    #mainCollapse {
        position: relative;
        /*width: 30%;*/

    }

}

@media only screen and (min-width: 601px) {
    .container {
        width: 90%;
    }
    #mainCollapse {
        position: fixed;
        width: 30%;

    }

}

